:root{
    --font-primary: 'Instrument Sans', sans-serif;
    --font-secondary: 'Comfortaa', cursive;
    --color-fondo: #fff;
    --color-navlinks: #F58FAB;
    --color-botones_acentos: #A2D2FF;
    --color-botones_hover: #80b9ee;
    --color-texto: #1E1E1E;
    --color-titulos: #FF73A6;
    --color-footer: #413f3F;
    --color-fondo-seccion: #f6f6f6;
    --color-bordes: #D9D9D9;
}

*{ margin: 0; padding: 0; }

body{
    font-family: var(--font-primary);
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

h2{ color: var(--color-titulos); font-size: 25px; font-weight: 200;}

.header-sitio{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.logo{ height: 100px; }

.nav-sitio ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
}

.nav-sitio li a{
    text-decoration: none;
    color: var(--color-navlinks);
    font-weight: 600;
}

.nav-sitio li a:hover{
    color: var(--color-botones_acentos);
}

.active{
    color: var(--color-botones_acentos) !important;
    padding: 5px 0px;
    border-bottom: 1px solid var(--color-botones_acentos);
}

footer{
    background-color: var(--color-footer);
    padding: 60px 100px;
    display: flex;
    flex-direction: row;
    gap: 150px;
    color: var(--color-fondo);
}

.footer-flex{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-links a{ color: var(--color-fondo); text-decoration: none; }

.img-header-titulo{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
    ),url("../img/header-promociones.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 0px 0px;
}

.img-header-titulo h1{
    color: var(--color-fondo);
    font-size: 40px;
    font-weight: 400;
    font-family: var(--font-primary);
}

#calculadora-promociones{
    position: fixed;
    bottom:0;
    width: 100%;
    background-color: var(--color-botones_acentos);
}

.caja-calculadora{
    padding: 15px;
    width: auto;
    border-top: 2px solid var(--color-bordes);
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    color: var(--color-texto);
}

.hidden{
    display: none;
}

.index-main{
    height: 700px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

.boton{
    background-color: var(--color-botones_acentos);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--color-fondo);
    align-self: center;
}

button{
    border: none;
    cursor: pointer;
}

.boton:hover{
    background-color: var(--color-botones_hover);
}  

.texto-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    gap: 20px;
    max-width: 550px;
}

.texto-principal h1{ font-size: 40px; }

.texto-principal p{ font-size: 15px; }

.index-main img{ max-width: 600px; height: auto; align-self: center; }

.section-cont{ 
    padding: 80px 60px;
    display: flex;
    flex-direction: column;
    text-align: center; 
    gap: 30px;
}

.section-cont>div{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.section-grey{ background-color: var(--color-fondo-seccion); }

.producto-card{
    width: 250px;
    display: flex;  
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: var(--color-fondo);
    padding: 15px;
    border-radius: 15px;
}

.producto-card img{ height: 250px; width: auto; object-fit: contain; }

.producto-card p{ width: 100%; }

.categoria-boton{
    width: 200px;
    display: flex;  
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.categoria-boton img{ height: 200px; width: auto; object-fit: contain; border-radius: 150px;}
.categoria-boton p{font-size: 20px;}

.main-texto{
    padding: 80px 100px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.main-texto div{ display: flex; flex-direction: column; gap: 25px; justify-content: center;}

.main-texto img{ width: 165px;}

.form-contacto{
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    border: 1px solid var(--color-bordes);
    padding: 24px;
    border-radius: 8px;
    justify-content: center;
}

.form-contacto div{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 12px;
}

.form-100{ width: 100%; }

.form-100 input, .form-100 textarea{
    padding: 8px;
    border: 1px solid var(--color-bordes);
    border-radius: 4px;
}

.boton-enviar{
    background-color: var(--color-botones_acentos);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--color-fondo);
    border: none;
    cursor: pointer;
    width: 100px;
    align-self: flex-end;
}

.boton-enviar:hover{
    background-color: var(--color-botones_hover);
}

@media screen and (max-width: 768px) {
    .index-main{
        flex-direction: row;
        height: auto;
        padding: 20px;
    }

    h2{ font-size: 20px; }

    .texto-principal h1{ font-size: 30px; }

    .texto-principal p{ font-size: 14px; }

    .index-main img{ height: 300px; }

    .texto-principal{
        padding-left: 0px;
        align-items: center;
        text-align: center;
    }

    .section-cont{ padding: 40px 60px; }

    .categoria-boton{ height: 150px; }
    .categoria-boton img{ height: 150px; width: auto; object-fit: contain; border-radius: 150px;}
    .categoria-boton p{font-size: 15px;}

    .main-texto{
        flex-direction: column;
        padding: 30px;
        text-align: center;
        align-items: center;
    }

    footer{ gap: 60px;}

    .form-contacto{ width: 80%; align-self: center;}
    .form-100{ text-align: left; }
}

@media screen and (max-width: 480px) {
    .logo{ height: 65px; }
    
    .nav-sitio ul{ flex-direction: column; gap: 10px; }

    .nav-sitio li a{ font-size: 14px; } 
    
    .index-main{ flex-direction: column; height: auto; padding: 40px 20px;}
    
    .index-main img{ height: 250px; }

    h1{ font-size: 25px; }

    .boton{ font-size: 14px; }
    
    footer{ 
        padding: 30px; 
        gap: 30px; 
        flex-wrap: wrap; 
        flex-direction: column; 
        justify-content: center;
        font-size: 12px;
        text-align: center;
    }
}
